.container{
max-width:1200px;
margin: 0 auto;
}

.footer{
  background: #fff;
  position: fixed;
  max-width:1200px;
  margin: 0 auto;
  align:center;
  }
  
.header_link:hover{
    color:white;
	background-color:green;
}

p{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	color: #DEB887;
	line-height: 18px;
	word-wrap:break-word;
}

.main_link{
	color:green;
	cursor:help;
	text-decoration:none;
	&:visited{
		color:red;
	}
	&:hover {
        color:white;
		background-color:green;
    }
}

.li_image{
	&:before{
	content: "\0024";
	}
	list-style-type:none;
}

.image{
	&:hover{
		cursor:pointer;
	}
}

ul{
	padding: 0;
	margin-left: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td,th{
	text-align: center;
	vertical-align: center;
	:hover {
        color:white;
		background-color:green;
    }
}


